@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model FrontPageModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div class="container">
  <div class="row">
    @foreach (var article in Model.Articles)
   {
    <div class="col-md-3 splash">
      <p><img src="@string.Format("dist/app/images/{0}",article.ImageSrc)"></p>
      <p>@article.Date</p>
      <p>@article.Text</p>
    </div>
   }
    
  </div>
  <div class="row">
    <div id="disqus_thread"></div>
    <script>
      var disqus_shortname = '3dshootercom'; // required: replace example with your forum shortname
(function() {
var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();

    </script>
  </div>
</div>
