@using System.Security.Claims

@if (User.IsSignedIn())
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
        </ul>
    }
}else{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <script async defer src="https://3dslack.azurewebsites.net/slackin.js"></script>
            </li>
         </ul>
     }
