<div id="articleLogoRowWrapper">
        <div id="articleLogoRow">
            <div class="logo">
                <a href="/"><svg width="100" height="37">
        <image xlink:href="/dist/app/images/3ds.svg" src="/dist/app/images/3ds.svg" width="100" height="37" />
        </svg></a>
            </div>
            <div class="articleLogoRowItem">
                <a href="mailto:flo@3dshooter.com">Kontakt</a>
            </div>
            <div class="articleLogoRowItem">
                <a href="https://twitter.com/3dshootercom" target="blank">Twitter</a>
            </div>
            <div class="articleLogoRowItem">
                <a href="/article/Index">Artikel</a>
            </div>
            <div class="articleLogoRowItem">
                <a href="/Home/Impressum">Impressum</a>
            </div>
        </div>
    </div>